/* The Modal (background) */
.qr-radar-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.35); /* Black w/ opacity */
    font-family: Graphik, sans-serif;
  }
  
  /* 
  Modal Content
  Could really use some help on this one! CSS is hard!
  */
  .qr-radar-modal-content {
    border-radius:  8px;
    overflow: hidden; /* Clip rounded edges */
    position: relative;
    background-color: #fefefe;
    margin: auto; /* Center in page */
    padding: 5px;
    border: 1px solid #888;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .qr-radar-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 12px;
  }
  
  .qr-radar-close:hover,
  .qr-radar-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .qr-radar-modal-header {
    text-align:  left;
    padding: 6px 6px;
    border-radius:  5px;
    background-color:  #76a7f5;
    color: white;
    line-height: 64px;
    height:  76px;
    font-size: 50px;
  }
  
  .qr-radar-modal-image{
    width: 64px;
    height: 64px;
  }
  
  .qr-radar-modal-label{
    padding-left: 10px;
  }
  
  .qr-radar-modal-body {
    margin: none;
    text-align: center;
    padding: 2px 16px;
  }